@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h4>Airport's admin</h4>
                <button class="btn btn-success" onclick="add()"><i class="glyphicon glyphicon-plus"></i>Agregar</button>
                <button class="btn btn-default" onclick="reloadData()"><i class="glyphicon glyphicon-refresh"></i>Actualizar</button>
            </div>
            <div class="panel-body">
                <table id="table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>IATA</th>
                            <th>DESCRIPCION</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_form" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Add Airport</h3>
                </div>
                <div class="modal-body form">
                    <form action="#" id="form" class="form-horizontal">
                        @Html.AntiForgeryToken()
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">IATA</label>
                                <div class="col-md-9">
                                    <input name="IataCode" placeholder="IATA Code" class="form-control" type="text">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Description</label>
                                <div class="col-md-9">
                                    <input name="Description" placeholder="Description Airport" class="form-control" type="text">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSave" onclick="save()" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script type="text/javascript">
        
        var table;

        $(function () {
            table = $('#table').DataTable({
                "processing": true,
                "serverSide": true,
                "info": false,
                "ajax": {
                    "dataType": "json",
                    "url": "/api/airport",
                    "type": "GET",
                    "dataSrc": ""
                },
                "columnDefs": [
                    {
                        "targets": [-1], //last column
                        "orderable": false, //set not orderable
                    }
                ],
                "order": [],
                "columns": [
                    { "data": "iataCode" },
                    { "data": "description" }
                ]
            });

            //Actions

        });

        function reloadData() {
            table.ajax.reload(null, false);
        }

        function add() {
            $('#form')[0].reset();
            $('.form-group').removeClass('has-error');
            $('.help-block').empty();
            $('#modal_form').modal('show');
            $('.modal-title').text('Agregar Usuario');
        }

        function save() {
            $('#btnSave').text('Guardando...');
            $('#btnSave').attr('disabled', true);

            $.ajax({
                url: "/api/airport",
                type: "POST",
                data: $('#form').serialize(),
                dataType: "JSON",
                success: function (data, textStatus, xhr) {
                    console.log(data);
                    console.log(xhr);
                    if (xhr.status) {
                        $('#modal_form').modal('hide');                        
                        reloadData();
                    }
                    else {
                        alert("Ocurrio un error al guardar los datos");
                    }
                    $('#btnSave').text('Guardar'); //change button text
                    $('#btnSave').attr('disabled', false); //set button enable
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert('Error al guardar datos');
                    $('#btnSave').text('Guardar');
                    $('#btnSave').attr('disabled', false);
                }
            });
        }
    </script>
}